body {
  background-color:rgb(253, 231, 231);
}

/* Text Types */

.normalHeader {
  color: black;
  font-family: 'Lucida Sans';
  font-size: 40px;
  font-weight: lighter;
}

.designHeader {
  color: black;
  font-family:Georgia;
  font-size: 40px;
  font-weight: lighter;
}

.monoHeader {
  color: black;
  font-family:'Courier New', Courier, monospace;
  font-size: 40px;
}

.smallText {
  color: black;
  font-family: 'Lucida Sans';
  font-size: 8px;
}

.mediumText {
  color: black;
  font-family: 'Lucida Sans';
  font-size: 16px;
}

.bigText {
  color: black;
  font-family: 'Lucida Sans';
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

.imgText {
  color: black;
  font-family: 'Lucida Sans';
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  margin-top: 0.1rem;
}

.quote {
  color: black;
  font-family: 'Lucida Sans';
  font-size: 24px;
  margin-top: 400px;
}

/* Buttons */

.highlightButton {
  background-color: rgb(192, 122, 122);
  color: black;
  font-family: 'Lucida Sans';
  font-size: 16px;
  font-size: 16px;
}

/* sidebars */

.navbarLeft {
  background-color: white;
  padding: 40px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbarRight {
  background-color: white;
  padding: 40px 20px;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh; 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.menuList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.menuItem {
  color: rgb(0, 0, 0);
  font-family:'Lucida Sans';
  font-size: 24px;
  text-align: left;
  padding-left: 10px;
}

.menuItem:hover {
  opacity: 0.7;
}


/* Links */

.socialLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.socialLink {
  color: black;
  font-family: 'Lucida Sans';
  font-size: 16px;
  text-decoration: none;
  align-items: center;
  gap:0.5rem;
}

.socialLink:hover {
  opacity: 0.7;
}

.socialIcon {
  width: 40px;
  height: 40px;
  display: block;
}


/* Grids and Containers */

.mainContent {
  margin-left: 300px;
  margin-right: 300px;
  padding-top: 50px;
}

.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.projectCardImage {
  width: 100px;
  height: 600px;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.projectCardImage:hover {
  transition: 0.4s ease;
  transform: scaleX(2);
}

.projectGrid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 150px;
  justify-content: center;
}

.imageTextContainer {
  display: flex;
  align-items: center;
  gap: 2rem;

  margin-top: 400px;
}

.image {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Skills */

.skillItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skillName {
  color: black;
  font-family: 'Lucida Sans';
  font-size: 16px;
}

.scale {
  display: flex;
  gap: 6px;
}

.scaleDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

.scaleDotActive {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black;
}

.skillsSection {
  margin-left: auto;   
  margin-right: auto;  
  margin-top: 50px;
}

.title {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.skillsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}

.skillsLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-top: 400px;
}

/* Forms */

.form {
  width: 900px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  
}

.form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.form input,
.form textarea {
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: rgb(255, 134, 134);
  background-color: rgb(255, 255, 255);
  font-family: 'Lucida Sans';
  color: black;
}

.form button {
  margin-top: 1rem;
  padding: 0.7rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  background-color: rgb(255, 134, 134);
}

.error {
  color: #c00;
}

.success {
  color: #0a8a2a;
}

